# python build
build
dist
*.egg-info

# python temp
*.pyc
.pytest_cache/
pytest.ini
.mypy_cache/
__pycache__/
pytest*

# models
**.ckpt
**.pth
artifacts/
**lightning_logs/

#venv
.venv
.venv-py312
.venv-py312-new
.venv-py310

#coverage
coverage_html*
coverage.*
.coveragerc
coverage.xml

# proto
protoc
protoc-3.4.0.tar.gz
*_pb2.py

# misc
log
*.swp
*.swo
.vscode

#data
**.png
**.jpg
**.json
**.csv

# idea files
.idea

# slurm files
**.out
**.err