# python build
build
dist
easy_tpp.egg-info

# python temp
*.pyc

# models
*.ckpt
*.pth

#venv
.venv-py312
.venv-py312-new
.venv-py310

# proto
protoc
protoc-3.4.0.tar.gz
*_pb2.py

# misc
log
*.swp
*.swo
.vscode

#data
*.png
*.jpg
*.csv

# idea files
.idea
